In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# https://github.com/nytimes/covid-19-data

df_2020 = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2020.csv')
df_2021 = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties-2021.csv')

## 2020 Data

In [3]:
df_2020.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [4]:
df_2020.tail()

              date      county    state     fips  cases  deaths
884732  2020-12-31  Sweetwater  Wyoming  56037.0   2966    16.0
884733  2020-12-31       Teton  Wyoming  56039.0   2138     4.0
884734  2020-12-31       Uinta  Wyoming  56041.0   1558     7.0
884735  2020-12-31    Washakie  Wyoming  56043.0    780    19.0
884736  2020-12-31      Weston  Wyoming  56045.0    476     2.0

In [5]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 884737 entries, 0 to 884736
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    884737 non-null  object
 1   county  884737 non-null  object
 2   state   884737 non-null  object
 3   fips    876471 non-null  float64
 4   cases   884737 non-null  int64
 5   deaths  865976 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 40.5+ MB

In [6]:
df_2020.describe()

                fips          cases         deaths
count  876471.000000  884737.000000  865976.000000
mean    31262.223651    1952.319416      53.597080
std     16295.225594   10106.483465     451.856511
min      1001.000000       0.000000       0.000000
25%     18183.000000      36.000000       0.000000
50%     29215.000000     228.000000       4.000000
75%     46099.000000     993.000000      21.000000
max     78030.000000  770915.000000   25144.000000

In [7]:
df_2020.shape

(884737, 6)

In [8]:
df_2020.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

FIPS or Federal Information Processing Standard is a standard geographic identifier, to make it easier for an analyst to combine this data with other data sets like a map file or population data.

In [9]:
df_2020.isnull().sum()

date          0
county        0
state         0
fips       8266
cases         0
deaths    18761
dtype: int64

In [10]:
df_2020.duplicated().sum()

0

## 2021 Data

In [11]:
df_2021.head()

         date   county    state    fips  cases  deaths
0  2021-01-01  Autauga  Alabama  1001.0   4239    50.0
1  2021-01-01  Baldwin  Alabama  1003.0  13823   169.0
2  2021-01-01  Barbour  Alabama  1005.0   1517    33.0
3  2021-01-01     Bibb  Alabama  1007.0   1854    46.0
4  2021-01-01   Blount  Alabama  1009.0   4693    63.0

In [12]:
df_2021.tail()

               date      county    state     fips  cases  deaths
1185368  2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
1185369  2021-12-31       Teton  Wyoming  56039.0   5950    14.0
1185370  2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
1185371  2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
1185372  2021-12-31      Weston  Wyoming  56045.0   1254    14.0

In [13]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1185373 entries, 0 to 1185372
Data columns (total 6 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   date    1185373 non-null  object
 1   county  1185373 non-null  object
 2   state   1185373 non-null  object
 3   fips    1174570 non-null  float64
 4   cases   1185373 non-null  int64
 5   deaths  1156903 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 54.3+ MB

In [14]:
df_2021.describe()

               fips         cases        deaths
count  1.174570e+06  1.185373e+06  1.156903e+06
mean   3.147197e+04  1.116031e+04  1.936092e+02
std    1.636533e+04  4.218921e+04  8.812527e+02
min    1.001000e+03  0.000000e+00  0.000000e+00
25%    1.903500e+04  1.136000e+03  2.000000e+01
50%    3.002600e+04  2.778000e+03  5.200000e+01
75%    4.611900e+04  7.340000e+03  1.250000e+02
max    7.803000e+04  1.697286e+06  3.538200e+04

In [15]:
df_2021.shape

(1185373, 6)

In [16]:
df_2021.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths'], dtype='object')

In [17]:
df_2021.isnull().sum()

date          0
county        0
state         0
fips      10803
cases         0
deaths    28470
dtype: int64

In [18]:
df_2021.duplicated().sum()

0

###############################################################################################################################

In [19]:
df_2020['state'].nunique()

55

In [20]:
df_2021['state'].nunique()

56

Fillin deaths missing values

In [21]:
df_2020['deaths'].fillna('0', inplace=True)

df_2021['deaths'].fillna('0', inplace=True)

In [22]:
df_2020['deaths'].isnull().sum()

0

In [23]:
df_2021['deaths'].isnull().sum()

0

Change deaths data type from float to int

In [24]:
df_2020['deaths'] = df_2020['deaths'].astype(int)

df_2021['deaths'] = df_2021['deaths'].astype(int)

## Q1: In what month did the highest number of Covid-19 cases and deaths occur?

In [25]:
df_2020['date'] = pd.to_datetime(df_2020['date'])

df_2021['date'] = pd.to_datetime(df_2021['date'])

In [26]:
df_2020['day'] = df_2020['date'].dt.strftime('%d')
df_2020['month'] = df_2020['date'].dt.strftime('%m')

df_2021['day'] = df_2021['date'].dt.strftime('%d')
df_2021['month'] = df_2021['date'].dt.strftime('%m')

In [27]:
df_2020.head()

        date     county       state     fips  cases  deaths day month
0 2020-01-21  Snohomish  Washington  53061.0      1       0  21    01
1 2020-01-22  Snohomish  Washington  53061.0      1       0  22    01
2 2020-01-23  Snohomish  Washington  53061.0      1       0  23    01
3 2020-01-24       Cook    Illinois  17031.0      1       0  24    01
4 2020-01-24  Snohomish  Washington  53061.0      1       0  24    01

In [28]:
df_2020.groupby('month').sum()

               fips      cases   deaths
month
01     8.287170e+05         41        0
02     7.313369e+06        736        1
03     6.755115e+08    1095533    20269
04     2.380914e+09   19611708   990492
05     2.882141e+09   45452114  2695246
06     2.910973e+09   65288844  3498937
07     3.085395e+09  111626136  4307836
08     3.118860e+09  166758528  5259820
09     3.026964e+09  199758786  5879775
10     3.135389e+09  252794114  6774225
11     3.036697e+09  338932078  7449571
12     3.139446e+09  525970605  9537613

The highest Covid-19 cases and deaths in 2020 occurred in the 12th month (December).

In [29]:
df_2021.head()

        date   county    state    fips  cases  deaths day month
0 2021-01-01  Autauga  Alabama  1001.0   4239      50  01    01
1 2021-01-01  Baldwin  Alabama  1003.0  13823     169  01    01
2 2021-01-01  Barbour  Alabama  1005.0   1517      33  01    01
3 2021-01-01     Bibb  Alabama  1007.0   1854      46  01    01
4 2021-01-01   Blount  Alabama  1009.0   4693      63  01    01

In [30]:
df_2021.groupby('month').sum()

               fips       cases    deaths
month
01     3.139581e+09   729984096  12216246
02     2.835751e+09   773617710  13511297
03     3.139581e+09   916857453  16598944
04     3.038304e+09   944997168  16938795
05     3.139581e+09  1020501942  18153720
06     3.038304e+09  1003878600  18001792
07     3.139581e+09  1059339596  18857887
08     3.139581e+09  1148978762  19355736
09     3.038304e+09  1247666211  20063233
10     3.139581e+09  1390097002  22446279
11     3.038304e+09  1417533896  22952318
12     3.139581e+09  1575677425  24890789

The highest Covid-19 cases and deaths in 2021 occurred in the 12th month (December).

## Q2: In which states have the highest number of Covid-19 cases and deaths occurred?

In [31]:
df_2020.groupby('state').sum().sort_values(ascending=False, by='cases').head()

                    fips      cases   deaths
state
California  1.017295e+08  174969176  3065113
Texas       3.232986e+09  160159130  2927740
Florida     2.319947e+08  138123133  2632238
New York    5.947449e+08  126307878  8320598
Illinois    4.795205e+08   82118324  2211390

In [32]:
df_2020.groupby('state').sum().sort_values(ascending=False, by='deaths').head()

                    fips      cases   deaths
state
New York    5.947449e+08  126307878  8320598
New Jersey  2.097732e+08   57403306  3817150
California  1.017295e+08  174969176  3065113
Texas       3.232986e+09  160159130  2927740
Florida     2.319947e+08  138123133  2632238

In 2020, the state with the highest Covid-19 cases is California while the Covid-19 deaths in New York are the highest of any state.

In [33]:
df_2021.groupby('state').sum().sort_values(ascending=False, by='cases').head()

                    fips       cases    deaths
state
California  1.282479e+08  1496462536  22532428
Texas       4.473628e+09  1195039278  20088968
Florida     2.951208e+08   974170111  15333245
New York    7.502812e+08   775764035  18918470
Illinois    6.367075e+08   527956595   9306526

In [34]:
df_2021.groupby('state').sum().sort_values(ascending=False, by='deaths').head()

                      fips       cases    deaths
state
California    1.282479e+08  1496462536  22532428
Texas         4.473628e+09  1195039278  20088968
New York      7.502812e+08   775764035  18918470
Florida       2.951208e+08   974170111  15333245
Pennsylvania  1.028748e+09   457143273  10025434

In 2021, the state with the highest Covid-19 cases and deaths is California.

### Q2.1: What about the highest percentage of deaths?

In [35]:
covid_2020_by_state = df_2020.groupby('state').sum()

In [36]:
covid_2020_by_state['deaths_percentage'] = round(covid_2020_by_state['deaths']/covid_2020_by_state['cases']*100, 2)

In [37]:
covid_2020_by_state.sort_values(ascending=False, by='deaths_percentage').head()

                      fips      cases   deaths  deaths_percentage
state
New Jersey     209773248.0   57403306  3817150               6.65
New York       594744852.0  126307878  8320598               6.59
Connecticut     21006534.0   17214231  1119863               6.51
Massachusetts  103883737.0   37419301  2222455               5.94
Michigan       602265756.0   42112852  1837617               4.36

New Jersey is the state with the highest percentage of deaths from Covid-19 in 2020.

In [38]:
covid_2021_by_state = df_2021.groupby('state').sum()

In [39]:
covid_2021_by_state['deaths_percentage'] = round(covid_2021_by_state['deaths']/covid_2021_by_state['cases']*100, 2)

In [40]:
covid_2021_by_state.sort_values(ascending=False, by='deaths_percentage').head()

                       fips      cases    deaths  deaths_percentage
state
New Jersey     2.607710e+08  370762769   9406432               2.54
New York       7.502812e+08  775764035  18918470               2.44
Massachusetts  1.278215e+08  263633506   6429075               2.44
Connecticut    2.630336e+07  126903933   2976567               2.35
Pennsylvania   1.028748e+09  457143273  10025434               2.19

New Jersey is the state with the highest percentage of deaths from Covid-19 in 2021.